.container {
  max-width: 48rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.header {
  padding: 16px 0;
  height: auto;
  border-bottom: 1px solid red;
}

.headerImage {
  width: 125px;
  height: 45px;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.categoryUl {
  display: flex;
  list-style: none;
  padding: 0;
}

.categoryLi {
  margin-right: 16px;
}

.backToHome {
  margin: 3rem 0 0;
}
